{% extends '_base.html' %}

{% block content %}
<h2>HTTP 403 <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403">Access Denied</a></h2>
<p>
    Something might be here, but if it is you aren't authorized to view it.
    <br />
    <br />
    Please send a feedback item to me or file an issue at <a href="https://github.com/GuMiner/carbon">GitHub</a> for this project!
    <blockquote>
    Thank you very much for helping fix this site 🔧⚙️!</blockquote>
</p>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}