{% extends '_base.html' %}

{% block content %}
<h4>Map</h4>
<h5>Players</h5>
<div hx-get="{{ url_for('projects.mc_server_players') }}" hx-trigger="load, every 15s" hx-indicator="#playersIndicator"></div>
<div id="playersIndicator" aria-busy="true" class="htmx-indicator">Loading...</div>

<!-- TODO -- render player positions on map and make movable -->
<div id="map_container">
  <img id="map" src="{{ url_for('static', filename='upload/map.png') }}" alt="Minecraft top-down map"/>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='gen/mc.js') }}"></script>
{% endblock scripts %}