{% extends '_base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='gen/mc.css') }}">
{% endblock css %}

{% block content %}
<h4>Access</h4>
<p>
  Please send me feedback along with your Minecraft user name (or UUID).
  <br/>
  With that, I will add you to the server whitelist and send connection details to you.
</p>
<h4>Map</h4>
<h5>Players</h5>
<small>Refreshes every 30 seconds. </small>
<div hx-get="{{ url_for('projects.mc_server_players') }}" hx-trigger="load, every 15s" hx-indicator="#playersIndicator"></div>
<div id="playersIndicator" aria-busy="true" class="htmx-indicator">Loading...</div>

<!-- TODO -- render player positions on map and make movable -->
<div id="map_container">
  <canvas id="canvas" width="800" height="600" class="mc-canvas" alt="Minecraft top-down map"></canvas>
  <!--<img id="map" src="{{ url_for('static', filename='upload/map.png') }}"/>-->
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='gen/mc.js') }}"></script>
{% endblock scripts %}