{{ define "main" }}
<main class="container">
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>

  {{ if .Params.games }}
  <div class="container" style="text-align: center;">
    {{ range .Params.games }}
    <article class="project-image-card align-left">
      <a href="{{ .link }}" class="relative-position">
        <img src="{{ .image }}" alt="{{ .name }} example" />
      </a>
      <footer>
        <div class="grid no-grid-wrap">
          <a href="{{ .link }}">{{ .name }}</a>
        </div>
      </footer>
    </article>
    {{ end }}
  </div>
  {{ end }}
</main>
{{ end }}
