{{ define "main" }}
<section>
    <p>
    <div class="grid">
      <div><b>{{ .Title }}</b> -- {{ .Params.date }}</div>
      <div class="align-right">
        {{ range .Params.tags }}
        <span class="tag-{{ . | lower }} align-right">{{ . }}</span>
        {{ end }}
        <span><small>Last Updated {{ .Params.updated }}</small></span>
      </div>
    </div>
    </p>

    {{ if strings.Contains .Params.link "github.com" }}
    <p>This project is hosted on GitHub: <a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a></p>
    {{ else }}
    {{ .Content }}
    {{ end }}
</section>
{{ end }}

{{ define "footer" }}
{{ if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.css" integrity="sha384-nH0MfJ44wi1dd7w6jinlyBgljjS8EJAh2JBoRad8a3VDw2K69vfaaqm4WnR+gXtA" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.js" integrity="sha384-CwjPRVHTvLiMBFjEoij+QZViMV5rhTOIp7CJzl24JEqpRDA1sJFHVXXLURktbYYp" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"
        onload="renderMathInElement(document.querySelector('section'), {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '\\(', right: '\\)', display: false}
    ]
  });"></script>
{{ end }}
{{ end }}
