@use "../node_modules/chartist/dist/index.scss";

.chart-background {
    background-color: aliceblue; /* Or any other color value like #FF0000, rgb(255, 0, 0) */
}

.info-item {
    margin: 10px 0;
    padding: 8px;
    border-left: 4px solid #007bff;
}
.label {
    font-weight: bold;
}