{# https://stackoverflow.com/questions/48956465/favicon-standard-2024-svg-ico-png-and-dimensions #}
{# For all browsers #}    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16.png">
{# For Google and Android #}    <link rel="icon" type="image/png" sizes="48x48" href="/static/icons/favicon-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/favicon-192.png">
{# For iPad #}    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/static/icons/favicon-167.png">
{# For iPhone #}    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/icons/favicon-180.png">